.Junt1 {
    display: flex;
    flex-direction: row;
    gap: calc(5px + 5%);
    justify-content: space-around;

}

.Junt2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

h1 {
    text-align: center;
    color:  rgb(0, 0, 0);
    text-shadow: 3px -3px rgba(144, 15, 180, 0.94);
    background-color: rgba(157, 10, 183, 0.507);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
}

/* rgb(110, 145, 173)
rgba(16, 83, 137, 0.822) */